{% extends "base.html" %}
{% load crispy_forms_filters %}


{% block content %}
    <div class="content-section">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb4">
                    {% if action == 'Create' %}Add card to deck "{{ deck.description }}"{% endif %}
                    {% if action == 'Edit' %}Edit card{% endif %}
                </legend>
                {{ form|crispy }}
            </fieldset>
            <input class="btn btn-outline-info" type="submit" value="{{ action }} card">
            {% if action == 'Edit' %}
                <a href="{% url 'leitner:card-delete' deck_pk=deck.pk card_pk=card.pk %}">
                    <button type="button" class="btn btn-danger">Delete this card</button>
                </a>
            {% endif %}
        </form>
    </div>
{% endblock %}