{% extends "base.html" %}
{% load crispy_forms_filters %}


{% block content %}
    <div class="content-section">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb4">
                    {% if action == 'Create' %}Add card to deck "{{ deck.description }}"{% endif %}
                    {% if action == 'Edit' %}Edit card{% endif %}
                </legend>
                {{ form|crispy }}
            </fieldset>
            <input class="btn btn-outline-info" type="submit" value="{{ action }} card">
        </form>
    </div>
{% endblock %}