{% extends "base.html" %}
{% block content %}
    <div class="content-section">
        <h1>Deck: {{ deck.description }}</h1>
        {% for box in deck.boxes.all %}
            <article class="media content-section">
                <h2>
                    <a class="article-title"
                       href="{% url "leitner:view-box" deck_pk=deck.pk box_pk=box.pk %}">{{ box.description }}</a>
                </h2>
                <ul class="list-group">
                    {% for card in box.cards.all %}
                        <li class="list-group-item">{{ card.front_text }}</li>
                    {% endfor %}
                    <h3><a href="{% url "leitner:add-card" deck_pk=deck.pk %}">Add a card</a></h3>
                </ul>
            </article>
        {% endfor %}
        <h3>Need a box? <a href="{% url "leitner:add-box" deck_pk=deck.pk %}">Create one</a></h3>
    </div>
{% endblock %}