{% extends "base.html" %}
{% load crispy_forms_filters %}


{% block content %}
    <div class="content-section">
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Your decks</legend>
        </fieldset>
        <form method="post">
            {% csrf_token %}
            <h6>Need a deck? <a href="#" onclick="showCreateDeckForm()">Create one</a></h6>

            <div id="deckCreateForm" style="display:none;">
                <fieldset class="form-group">
                    {{ form|crispy }}
                </fieldset>
                <input class="btn btn-outline-info" type="submit" value="Create deck">
            </div>
        </form>
        <div class="list-group">
            {% for deck in decks %}
                <a href="{% url "leitner:deck-detail" deck.pk %}" class="list-group-item list-group-item-action">
                {{ deck.description }}
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}