{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">

    {% if title %}
        <title>Flashcards - {{ title }}</title>
    {% else %}
        <title>Flashcards</title>
    {% endif %}
</head>
<body>
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4" href="{% url 'home' %}">Flashcards</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    {% if not user.is_authenticated %}
                        <a class="nav-item nav-link" href="{% url "users:login" %}">Login</a>
                        <a class="nav-item nav-link" href="{% url "users:signup" %}">Sign up</a>
                    {% else %}
                        <a class="nav-item nav-link" href="{% url "users:userdetails" %}">Account</a>
                        <a class="nav-item nav-link" href="{% url "notes:list" %}">Notes</a>
                        <a class="nav-item nav-link" href="{% url "leitner:deck-list" %}">Flashcards</a>
                        {% if user.is_superuser %}
                            <a class="nav-item nav-link" href="{% url "admin:index" %}">Admin Panel</a>
                        {% endif %}
                        <a class="nav-item nav-link" href="{% url "users:logout" %}">Log out</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>
<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
        </div>
        {% block sidebar %}
            <div class="col-md-4">
                <div class="content-section">
                    <h3>Note list</h3>
                    <p class='text-muted'>You can put any information here you'd like. Or you can
                    <a href="{% url 'notes:create' %}">create</a> a new note.</p>
                    <ul class="list-group">
                        {% for note in user.note_set.all %}
                            <li class="list-group-item list-group-item-light">
                                <a href="{{ note.get_absolute_url }}">{{ note.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    </p>
                </div>
            </div>
        {% endblock %}
    </div>
</main>

<!-- Optional JavaScript -->
<script src="{% static "scripts.js" %}"></script>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>