{% extends "template.html" %}

{% block title %}Flashcards{% endblock %}

{% block nav_bar %}
    <li><a href="/">HOME</a></li>
    {% if not user.is_authenticated %}
        <li><a href="/account/login">LOG IN</a></li>
        <li><a href="/account/signup">SIGN UP</a></li>
    {% endif %}
    {% if user.is_authenticated %}
        <li><a href="/flashcards">FLASHCARDS</a></li>
        <li><a href="/account">YOUR ACCOUNT</a></li>
        <li><a href="/account/logout">LOGOUT</a></li>
    {% endif %}
{% endblock %}

{% block header_section %}
{% endblock %}

{% block about_big %}
{% endblock %}

{% block about_small %}
{% endblock %}

{% block services %}
{% endblock %}

{% block free_section %}
{% endblock %}

{% block contact %}
{% endblock %}

{% block footer %}
    <div class="for-full-back " id="footer">
        <a href="https://binarytheme.com/bootstrap-template-simpla/">HTML/CSS Template by Binarytheme</a>
    </div>
{% endblock %}