{% extends "base.html" %}

{% block title %}Account details{% endblock %}

{% block content %}
    <div class="content-section">
        {% if user.last_name %}
            <legend class="border-bottom mb-4">{{ user.last_name }} account details</legend>
        {% else %}
            <legend class="border-bottom mb-4">Account details</legend>
        {% endif %}
        <h6>User: {{ user.username }}</h6>
        <h6><a href="{% url "users:password_change" %}">Change password</a></h6>
    </div>
{% endblock %}
